__pycache__/
*.py[cod]
*$py.class

.Python
.venv/
venv/
env/
ENV/

build/
dist/
site/
.eggs/
*.egg
*.egg-info/
pip-wheel-metadata/

.coverage
.coverage.*
.pytest_cache/
.mypy_cache/
.ruff_cache/
.hypothesis/
htmlcov/

.pyre/
.tox/
.nox/

.ipynb_checkpoints/

.env
.env.*
!.env.example

.idea/
.vscode/
.DS_Store
